{
  // This is the configuration file for ESLint.
  // Read more:
  // https://eslint.org/docs/user-guide/configuring

  "extends": [
    // Extend @bence.a.toth's config
    // Read more:
    // https://github.com/bence-toth/eslint-config
    "@bence.a.toth/eslint-config"
  ],

  "overrides": [
    {
      // Don't expect config files to be imported.
      "files": [
        "webpack.config.js",
        "postcss.config.js",
        "stylelint.config.js",
        "jest.config.js"
      ],
      "rules": {
        "import/no-unused-modules": 0
      }
    },
    {
      // Don't expect stories files to be imported.
      "files": ["*.stories.jsx"],
      "rules": {
        "import/no-unused-modules": 0,
        "import/no-extraneous-dependencies": 0
      }
    },
    {
      // Don't expect test files to be imported.
      // Allow the usage of JSX in test files.
      "files": ["*.test.js"],
      "rules": {
        "import/no-unused-modules": 0,
        "import/no-unassigned-import": 0,
        "react/jsx-filename-extension": 0
      }
    }
  ]
}
